.cart-container {
    margin-top: 10%;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart-empty {
  font-size: 18px;
  color: gray;
}

.cart-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item img {
  margin-right: 20px;
  border-radius: 8px;
  width: fit-content;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details p {
  margin: 5px 0;
}

.cart-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #0056b3;
}

.cart-total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.place-order-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 17px;
}

.place-order-button:hover {
  background-color: #218838;
}
